body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #131313;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.card {
    width: 300px;
    height: 400px;
    background: #232323;
    transform-style : preserve-3d;
    transform:perspective(500px) rotateX(0) rotateY(0);
    border-radius: 30px;
    cursor: pointer;
    .circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform-style: preserve-3d;;
        transform: translate3d(-50%, -50%, 75px);
        width: 150px;
        height: 150px;
        background-color: #9bdc28;
        border-radius: 50%;
    }
    .product-image {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        object-fit: contain;
        transform-style: preserve-3d;
        transform: translate3d(-50% , -50% , 160px) scale(.7) rotateZ(15deg)

    }
    .buy {
        position: absolute;
        bottom: 40px;
        left: 50%;
        padding: 7px 30px;
        background: #9bdc28;
        border-radius: 30px;
        text-decoration: none;
        color: #fff;
        transform-style: preserve-3d;
        transform: translate3d(-50% , 50% , 75px);
        opacity: 0;
        transition: .5s;
    }
    .caption {
        position: absolute;
        top: 80px;
        left: 50%;
        transform-style: preserve-3d;
        transform: translate3d(-50% , -50% , 100px);
        color: #fff;
        font-weight: 500;
        font-size: 20px;
        opacity: 0;
        transition: .5s;
    }
    &:before {
        content: 'Adidas';
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        color: rgb(109, 109, 109);
        font-family: Poppins ,sans-serif;
        font-size: 70px;
        font-style: italic;
        font-weight: 900;
        opacity: 0;
        transition: .5s;
    }
    
    &:after {
        content: 'Shoes';
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        color: rgb(109, 109, 109);
        font-family: Poppins ,sans-serif;
        font-size: 70px;
        font-style: italic;
        font-weight: 900;
        opacity: 0;
        transition: .5s;
    }
    &:hover {
        .buy {
            opacity: 1;
            transform: translate3d(-50%, 0, 100px)
        }
        .circle {
            transform: translate3d(-50%, -50%, 100px);
        }
        .caption {
            opacity: 1;
            transform: translate3d(-50%, 0, 100px)
        }
        &:before,
        &:after {
            opacity: .1;
        }
    }
}

// @keyframes animate {
//     0%{
//         transform: rotateX(0) rotateY(0) scale(1);
//     }
//     25% {
//         transform: rotateX(0) rotateY(0) scale(1);
//         box-shadow: 0 20px 30px rgba(0,0,0,.5);
//     }
//     50% {
//         transform: translateX(-70px) rotateX(30deg) rotateY(30deg) scale(1.4);
//         box-shadow: 0 20px 30px rgba(0,0,0,.5);
//     }
//     75% {
//         transform: translateX(-70px) rotateX(30deg) rotateY(30deg) scale(1.4);
//         box-shadow: 0 20px 30px rgba(0,0,0,.5);
//     }
//     100% {
//         transform: translateX(70px) rotateX(30deg) rotateY(-30deg) scale(1.4);
//         box-shadow: 0 20px 30px rgba(0,0,0,.5);
//     }
// }