body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background: #131313;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Poppins;
}

.card {
  width: 300px;
  height: 400px;
  background: #232323;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(500px) rotateX(0) rotateY(0);
          transform: perspective(500px) rotateX(0) rotateY(0);
  border-radius: 30px;
  cursor: pointer;
}

.card .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate3d(-50%, -50%, 75px);
          transform: translate3d(-50%, -50%, 75px);
  width: 150px;
  height: 150px;
  background-color: #9bdc28;
  border-radius: 50%;
}

.card .product-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate3d(-50%, -50%, 160px) scale(0.7) rotateZ(15deg);
          transform: translate3d(-50%, -50%, 160px) scale(0.7) rotateZ(15deg);
}

.card .buy {
  position: absolute;
  bottom: 40px;
  left: 50%;
  padding: 7px 30px;
  background: #9bdc28;
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate3d(-50%, 50%, 75px);
          transform: translate3d(-50%, 50%, 75px);
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.card .caption {
  position: absolute;
  top: 80px;
  left: 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate3d(-50%, -50%, 100px);
          transform: translate3d(-50%, -50%, 100px);
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.card:before {
  content: 'Adidas';
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #6d6d6d;
  font-family: Poppins ,sans-serif;
  font-size: 70px;
  font-style: italic;
  font-weight: 900;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.card:after {
  content: 'Shoes';
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #6d6d6d;
  font-family: Poppins ,sans-serif;
  font-size: 70px;
  font-style: italic;
  font-weight: 900;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.card:hover .buy {
  opacity: 1;
  -webkit-transform: translate3d(-50%, 0, 100px);
          transform: translate3d(-50%, 0, 100px);
}

.card:hover .circle {
  -webkit-transform: translate3d(-50%, -50%, 100px);
          transform: translate3d(-50%, -50%, 100px);
}

.card:hover .caption {
  opacity: 1;
  -webkit-transform: translate3d(-50%, 0, 100px);
          transform: translate3d(-50%, 0, 100px);
}

.card:hover:before, .card:hover:after {
  opacity: .1;
}
/*# sourceMappingURL=style.css.map */